<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/pure-min.css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.0beta/css/icofont.css" integrity="sha384-+iJF6xK4xnr+UBchttOu5eVXU3O/+WiateNu6D76ixKwFPrlm5NkgTnAR35tgjMU" crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        {% block stylesheets %}
        <style>
        @keyframes backgroundScroll {
          from { background-position: 99% 0; }
          to { background-position: 0 0; }
        }
        body{overflow: hidden;}
        #landscape{
          position: absolute;
          top:0;
          background-image: url('{{asset('bundles/app/images/raaace/landscape.jpg')}}');
          background-repeat: repeat-x;
          background-size: contain;
          height: 30vh;
          width: 100%;
        /*animation: backgroundScroll 1000ms linear infinite;*/
          animation-fill-mode: forwards;
          z-index: 0;

        }
        #road{
          position: absolute;
          top: 30vh;
          background-image: url('{{asset('bundles/app/images/raaace/road.jpg')}}');
          background-repeat: repeat-x;
          background-size: contain;
          height: 40vh;
          width: 100%;
          /*animation: backgroundScroll 1000ms linear infinite;*/
          z-index: 0;

        }
        #hud{
          position: absolute;
          bottom: 0;
          height: 30vh;
          width: 100%;
          z-index: 0;
        }
        #fullscreen{position: absolute; width: 100%; height: 100vh; z-index: 99999; display: none;}
        #fullscreen img{width: 100%; }
        #player{
          position: absolute;
          left:10%;
          z-index: 1700;
        }
        .car{
          position: absolute;
          right: -600px;
        }
        .line1.car img, .line2.car img{transform: scale(-1,1);}
        .line1 {
          top: 30vh;
          z-index: 1000;
        }
        .line2 {
          top: 39vh;
          z-index: 1200;
        }
        .line3 {
          top: 49vh;
          z-index: 1400;
        }
        .line4 {
          top: 59vh;
          z-index: 1600;
        }

        </style>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div id="landscape"></div>
        <div id="road"></div>
        <div id="player" class="line4" data-line="4" ><img src="{{asset('bundles/app/images/raaace/car2.png')}}"></div>
        <div id="hud">
          Pixels travelled: <span id="pixelcount"></span><br>
          Cars overtaken: <span id="overtakescount"></span><br>
          Time passed: <span id="overalltime"></span>s<br>
        </div>
        <div id="fullscreen"></div>
        {% endblock %}
        {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{{asset('bundles/app/js/velocity.js')}}"></script>
        <script>
        var game=true;
        var carArray=['{{asset('bundles/app/images/raaace/car2.png')}}','{{asset('bundles/app/images/raaace/car3.png')}}','{{asset('bundles/app/images/raaace/car4.png')}}']
        var counter=1;

        var aispeed=10000;
        var aispeedwrongway=3500;
        var maxmodifier=0.5;

        var overtakescounter=0;
        var overalltime=0;

        var player= $('#player');
        var playerWidth=parseInt(player.css('width'));

        //right way
        var rightWayCarsTimer = setInterval(function(){
          Math.random();
          let number=Math.floor((Math.random() * carArray.length-1) + 1);
          Math.random();
          let line=Math.floor((Math.random() * 2) + 1)+2;
          Math.random();
          let modifier = Math.random();
          if(modifier<maxmodifier)
          {
            modifier=maxmodifier;
          }
          $('body').append('<div id="car'+counter+'" class="line'+line+' car" data-line="'+line+'"><img src="'+carArray[number]+'"></div>').find('#car'+counter).animate({'left': '-300px'},parseInt(aispeed*modifier),'linear');
          counter++;
        }
          , 4000
        );
        //wrong way
        var wrongWayCarsTimer = setInterval(function(){
          Math.random();
          let number=Math.floor((Math.random() * carArray.length-1) + 1);
          Math.random();
          let line=Math.floor((Math.random() * 2) + 1);
          Math.random();
          let modifier = Math.random();
          if(modifier<maxmodifier)
          {
            modifier=maxmodifier;
          }
          $('body').append('<div id="car'+counter+'" class="line'+line+' car" data-line="'+line+'"><img src="'+carArray[number]+'"></div>').find('#car'+counter).animate({'left': '-300px'},parseInt(aispeedwrongway*modifier),'linear');
          counter++;
        }
          , 5000
        );
        //destroy cars at finish AND hud update
        var destroyFinishedTimer = setInterval(function(){
          $('.car').each(function(){
            let toto = $(this);
            let left=parseInt(toto.css('left'));
            if(left==-300)
            {
              toto.remove();
              if(toto.hasClass('line3')||toto.hasClass('line4'))
              {
                overtakescounter++;
              }
            }
          });
          $('#pixelcount').html(parseInt($('#road').css('background-position'))*(-1));
          $('#overtakescount').html(overtakescounter);
          overalltime+=0.5;
          $('#overalltime').html(parseInt(overalltime));
        },500);

        //collison check
      var collisionCheckTimer =  setInterval(function(){
          let widths=[];
          let player = $('#player');
          let playerX = parseInt(player.css('left'));
          let line = player.attr('data-line');


          $('.car.line'+line).each(function(){
            let toto = $(this);
            let left=parseInt(toto.css('left'));
            let width=parseInt(toto.find('img').css('width'));
            if(left+width>0)
            {
              widths.push({'x':left,'width':width});
            }
          });
          $.each(widths,function(i,v){

            if(!((playerX+playerWidth)<v.x||(parseInt(v.x)+parseInt(v.width))<playerX))
            {
              $('#fullscreen').html('<img src="http://bestanimations.com/Military/Explosions/explosion-animated-gif-21.gif">').show();
            }
          });
        },100);
        /*setInterval(function(){
          $('.car').each(function(){
            var toto = $(this);
            var left=parseInt(toto.css('left'));
            var spd=toto.attr('data-speed');
            toto.animate({
              left: "-="+spd,
            }, 100, function() {
              // Animation complete.
            });
          });
        },1000);*/
        //backround movement
        var bgmove = 500;
        animateBackground();
        function animateBackground()
        {
          $('#road,#landscape').animate({'background-position': '-='+bgmove},1000,'linear', function() {
              animateBackground();
            });
        }
$(document).ready(function() {
  var width = parseInt($('#landscape').css('width'));
  //var player = $('#player');
  var speed=2000;
        $(document).keydown(function(e) {
          var left=parseInt(player.css('left'));
          var time=200;
              switch(e.which) {
              //  (left-(10*(width/100)))/(((80*(width/100))-(10*(width/100)))/100)
                  case 37: // left
                    time=(speed*0.5)*(((left-(10*(width/100)))/(((80*(width/100))-(10*(width/100)))/100))/100);
                    if(time<200)
                    {
                      time=200;
                    }
                    $('#player').animate({'left': '10%'},time,'linear');
                  break;
                  case 39: //right
                    time=speed*(((width-left)/(width/100)-10)/100);
                    if(time<200)
                    {
                      time=200;
                    }
                    $('#player').animate({'left': '80%'},time,'linear');
                  break;
                  case 38: // up
                    var oldline=parseInt(player.attr('data-line'));
                    var newline=oldline-1;
                    if(newline!=0)
                    {
                      player.switchClass( 'line'+oldline, 'line'+newline, 100, "linear",function(){player.attr('data-line',newline);});
                    }

                  break;
                  case 40: // down
                    var oldline=parseInt(player.attr('data-line'));
                    var newline=oldline+1;
                    if(newline!=5)
                    {
                      player.switchClass( 'line'+oldline, 'line'+newline, 100, "linear",function(){player.attr('data-line',newline);} );
                    }
                  break;

                  default: return; // exit this handler for other keys
              }
              console.log(time);
              e.preventDefault(); // prevent the default action (scroll / move caret)
          });

          $(document).keyup(function(e) {

            switch(e.which) {
              case 39: //right
                player.stop(true,false);
              break;
              case 37: //left
                player.stop(true,false);
              break;
              case 38: //up
                //player.stop(true,false);
              break;
              case 40: //down
                //player.stop(true,false);
              break;

              default: return; // exit this handler for other keys
            }
            e.preventDefault(); // prevent the default action (scroll / move caret)
          });
        });
        </script>
        {% endblock %}
    </body>
</html>
