<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}gm.app{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/app/css/pure-min.css')}}" />
        <link href="https://fonts.googleapis.com/css?family=Dosis|Righteous" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/icofont.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}" />

        {% block stylesheets %}
        {% endblock %}
        {% if world is not defined %}
        {% set world = 1 %}
        {% endif %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav id="globalMenu">
          <a><i class="icofont icofont-arrow-left btnn" id="globalMenuHideButton"></i></a>
          <a class="btnn" href="{{ path('commander_ui')}}"><i class="icofont icofont-terminal"></i> Commander</a>
          <a class="btnn" href="{{ path('rolls',{'world':world})}}"><i class="icofont icofont-dice-alt"></i> Rolls</a>
          <br>
          <a class="btnn" href="{{ path('character_all',{'world':world})}}"><i class="icofont icofont-user-alt-4"></i> Characters</a>
          <a class="btnn" href="{{ path('skill_all',{'world':world})}}"><i class="icofont icofont-brainstorming"></i> Skills</a>
          <a class="btnn" href="{{ path('quirk_all',{'world':world})}}"><i class="icofont icofont-dna"></i> Quirks</a>
          <a class="btnn" href="#" style="color: grey;"><i class="icofont icofont-files"></i> Logs</a>
          <br>
          <a class="btnn" href="{{ path('firearm_all',{'world':world})}}"><i class="icofont icofont-pistol"></i> Firearms</a>
          <a class="btnn" href="{{ path('meelee_all',{'world':world})}}"><i class="icofont icofont-hand-power"></i> Meelee weapons</a>
          <a class="btnn" href="{{ path('item_all',{'world':world})}}"><i class="icofont icofont-box"></i> Items</a>
          <a class="btnn" href="{{ path('wearable_all',{'world':world})}}"><i class="icofont icofont-jersey"></i> Wearables</a>
          <br>
          <a class="btnn" href="{{ path('world_all')}}"><i class="icofont icofont-world"></i> Worlds</a>
          <a class="btnn" href="{{ path('location_all',{'world':world})}}" ><i class="icofont icofont-location-pin"></i> Locations</a>
          <a class="btnn" href="{{ path('faction_all',{'world':world})}}" ><i class="icofont icofont-flag"></i> Factions</a>
          <a class="btnn" href="{{ path('worldMap')}}"><i class="icofont icofont-ui-map"></i> World Map</a>
          <a class="btnn" href="#" style="color: grey;"><i class="icofont icofont-ui-timer"></i> Timeline</a>
          <br>
          <a class="btnn" href="#" style="color: grey;"><i class="icofont icofont-tools-alt-2"></i> Resource Tools</a>
          <br>
          <a class="btnn" href="{{ path('homepage')}}"><i class="icofont icofont-power"></i> Exit</a>
        </nav>
        {% if app.request.get('_route') != 'character' and app.request.get('_route') != 'homepage'%}<div class="menuButton"><i class="icofont icofont-home btnn" id="globalMenuShowButton"></i></div>{% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="{{ asset('bundles/app/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/jquery-ui.js') }}"></script>
        <script>
        $( '#globalMenuShowButton,#globalMenuHideButton' ).on( 'click', function globalMenuShowClickListener( e ) {
          $('#globalMenu').toggle();
        });
        </script>
        {% endblock %}
    </body>
</html>
