{% block skillShop %}
  <div id="skillShop" class="box fullscreen-box" style="display:none;">
    <div class="box-top"><i class="icofont icofont-ui-close btn"></i></div>
    <div id="skillShop_list">
      <div id="skillShop_list_tabs">
      <ul class="tabs">
        <li class="btn tab" id="skillShop_advantagesToggle">
            Advantages
        </li>
        <li class="btn tab"  id="skillShop_disadvantagesToggle">
            Disadvantages
        </li>
        <li class="btn tab"  id="skillShop_skillsToggle">
            Skills
        </li>
        <li class="btn tab"  id="skillShop_othersToggle">
            Others
        </li>
        <li class="btn tab"  id="skillShop_toggleAll">
            All
        </li>
        <li class="btn tab" id="skillShop_searchToggle">
            <i class="icofont icofont-search-alt-1"></i>
        </li>
      </ul>
    </div>
    <div id="skillShop_list_screen">
      <ul id="skillShop_advantages" class="tabScreen">
        {% for item in quirks %}
          {% if item.category == 'advantage'%}
          <li id="quirk-toggle-{{item.id}}" class="btn shop-item">
              {{item.name}}
           </li>
           {% endif %}
        {% endfor %}
      </ul>
      <ul id="skillShop_disadvantages" class="tabScreen">
        {% for item in quirks %}
          {% if item.category == 'disadvantage'%}
          <li id="quirk-toggle-{{item.id}}" class="btn shop-item">
              {{item.name}}
           </li>
           {% endif %}
        {% endfor %}
      </ul>
      <ul id="skillShop_others" class="tabScreen">
        {% for item in quirks %}
          {% if item.category != 'skill' and item.category != 'disadvantage' and item.category != 'advantage' %}
          <li id="quirk-toggle-{{item.id}}" class="btn shop-item">
              {{item.name}}
           </li>
           {% endif %}
        {% endfor %}
      </ul>
      <ul id="skillShop_skills" class="tabScreen">
        {% for item in skills %}
         <li id="skill-toggle-{{item.id}}" class="btn shop-item">
            {{item.name}}
         </li>
        {% endfor %}
      </ul>

      <div id="skillShop_search" class="tabScreen">
        ahoj :)
      </div>
    </div>
    </div>
    <div class="middle">
      <div id="skillShop_screen">
        {% for item in quirks %}
        <div id="quirk-box-{{item.id}}" class="screen-item">
            <h2>{{item.name}}</h2>
            <h4><label>Category:</label> {{item.category}}, <label>Cost:</label> {{item.cost}}</h4>
            <p><label>Description:</label><br>{{item.description}}</p>
            <span class="button btn addQuirk"  data-class="quirk" data-id="{{item.id}}" data-cost="{{item.cost}}" data-name="{{item.name}}" data-level="{{item.maxLevel}}" >{% if item.cost > 0 %}Get {{item.cost}}{% else %}Spend {{item.cost * -1 }}{% endif %}<i class="icofont icofont-coins"></i></span>
         </div>
        {% endfor %}
        {% for item in skills %}
        <div id="skill-box-{{item.id}}" class="screen-item">
          <h2>
            {% if item.difficulty == 'E' %}
              <i class="icofont icofont-battery-low"></i>
            {% elseif item.difficulty == 'A' %}
            <i class="icofont icofont-battery-half"></i>
            {% elseif item.difficulty == 'H' %}
            <i class="icofont icofont-battery-full"></i>
            {% endif %}
            {{item.name}}</h2>
          <h4><label>Type:</label> Skill, <label>Default:</label> {{item.attribute~item.defaultModifier}}, <label>Difficulty:</label> {{item.difficulty}}</h4>
          <p><label>Description:</label><br>{{item.description}}</p>
          <span class="button btn selectSkillLevel" data-difficulty="{{item.difficulty}}" data-attribute="{{item.attribute}}">Choose skill level</span>
          <div>
            <select class="skillLevelSelect">
            </select>
            <span class="button btn addSkill" data-class="skill" data-id="{{item.id}}" data-name="{{item.name}}" data-attribute="{{item.attribute}}">Buy skill <i class="icofont icofont-coins"></i></span>
          </div>
          </div>
        {% endfor %}
      </div>
      <div id="skillShop_counter">

          <div><label>Available <i class="icofont icofont-coins"></i>:</label> <span id="skillShop_counter_myCp"></span></div>
          <div><label>Transaction cost:</label> <span id="skillShop_counter_transCp">0</span><hr></div>
          <div class="counter-lists">
          <div id="skillShop_buy" class="counter-items">
          </div>
          <div id="skillShop_sell" class="counter-items">
        </div>

    </div>
    <span id="confirmTransaction" class="button btn">Confirm</span>
    </div>
  </div>
  <div id="skillShop_myList">
  </div>
</div>
{% endblock %}
