{% extends 'base.html.twig' %}

{% block body %}
    <section>
      <h1>Characters</h1>

      {% for character in characters %}

      <a href="character/{{character.id}}">
      <div class="box character_portretCard">
        <img src="{{ vich_uploader_asset(character, 'imageFile')}}"><br>
        <span>{{character.name}}</span>

      </div>
      </a>
      {% endfor %}

    </section>
{% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}
