{% extends 'base.html.twig' %}

{% block body %}
<section>
  <form action="{{path('commander')}}" id="commanderForm">
    <input type="text" name="cmd"><br>
    <input type="submit" value="DO IT!">
  </form>
  <ul>
    <li>give item "item-id" to "character-id" "count"</li>
  </ul>
</section>
{% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block javascripts %}
{{parent()}}
<script>
$('#commanderForm').submit(function(e){
  var data={'cmd':$('input[name="cmd"]').val()};
  $.ajax({
            url: '{{path('commander')}}',
            type: "POST",
            data: data,
            success: function(result) {
                alert(result);
            },
            error: function(result) {
                alert("There was an error :(");
            }
    });
  e.preventDefault();
});
</script>
{% endblock %}
