{% extends 'base.html.twig' %}

{% block body %}
    <section>
      <h1>{{title}}</h1>
      {{ form_start(form,{'attr':{'class':'basicForm'}}) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
  </section>
{% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}
