{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
      {% form_theme form _self %}


      {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
      <div id="top_panel">


        <i class="icofont icofont-home btn" id="globalMenuShowButton"></i>
        <span id="nameTop">{{ character.getName() }}</span>
        <div class="top-block">
          <table>
            <tr><td>Save</td><td>Recalculate</td></tr>
              <tr><td><i class="icofont icofont-diskette btn" id="saveButton"></i></td><td><i class="icofont icofont-refresh btn" id="recalculateButton"></i></td></tr>
        </table>
      </div>
        <div class="top-block" style="vertical-align:top;">
          <table>
            <tr><td>{{ form_label(form.startingCP)}}</td><td>{{ form_label(form.gainedCP)}}</td><td>{{ form_label(form.unusedCP)}}</td></tr>
              <tr style="font-size: 11px;"><td>{{ form_widget(form.startingCP, { 'attr': {'class': 'mainAttributes_field'} }) }}<sub>cp</sub></td><td>{{ form_widget(form.gainedCP, { 'attr': {'class': 'mainAttributes_field'} }) }}<sub>cp</sub></td><td> {{ form_widget(form.unusedCP, { 'attr': {'class': 'mainAttributes_field','disabled':'disabled'} }) }}<sub>cp</sub></td><td></td><td> </td></tr>
        </table>
      </div>
      <div class="top-block" id="boxToggles">
        <table>
          <tr><td>Info</td><td>Stats</td><td>Damage</td><td>DamageRes</td><td>Skills</td><td>Other</td><td>Skill Shop</td></tr>
          <tr><td><i class="icofont icofont-id btn" id="toggleIdCard"></i></td><td><i class="icofont icofont-chart-bar-graph btn" id="toggleMainAttributes"></i></td><td><i class="icofont icofont-skull-face btn" id="toggleDamageAttributes"></i></td><td><i class="icofont icofont-shield-alt btn" id="toggleResistanceAttributes"></i></td><td><i class="icofont icofont-brainstorming btn" id="toggleNeco"></i></td><td><i class="icofont icofont-mathematical-alt-2 btn" id="toggleSecondaryAttributes"></i></td><td><i class="icofont icofont-hat-alt btn" id="toggleSkillShop"></i></td></tr>
        </table>
      </div>
      <div class="top-block">
        <table>
          <tr><td>Toggle drag</td></tr>
            <tr><td><i class="icofont icofont-toggle-off btn" id="toggleBoxDrag"></i></td></tr>
      </table>
    </div>
    </div>
    <section>
      <div class="box" id="idCard">
        <div class="box-top"><i class="icofont icofont-ui-close btn"></i></div>
        <div id="idCard_photo"><div id="photo_upload"><div id="photo_upload_button"><br><i class="icofont icofont-upload btn"></i><br><br>Upload new</div></div><img src="{{ vich_uploader_asset(character, 'imageFile')}}"></div>
        <div id="idCard_info">
          <table style="width: 100%;">
        <tr><td>{{ form_label(form.name)}}</td><td>{{ form_label(form.alias)}}</td></tr>
        <tr><td>{{ form_widget(form.name, { 'attr': {'class': 'idCard_field'} }) }}</td><td>{{ form_widget(form.alias, { 'attr': {'class': 'idCard_field'} }) }}</td>  </tr>
        <tr><td>{{ form_label(form.player)}}</td><td>{{ form_label(form.race)}}</td></tr>
        <tr><td>{{ form_widget(form.player, { 'attr': {'class': 'idCard_field'} }) }}</td><td>{{ form_widget(form.race, { 'attr': {'class': 'idCard_field'} }) }}</td></tr>
        <tr><td>{{ form_label(form.age)}}</td><td>{{ form_label(form.height)}}</td></tr>
        <tr><td>{{ form_widget(form.age, { 'attr': {'class': 'idCard_field_number_long'} }) }} </td><td>{{ form_widget(form.height, { 'attr': {'class': 'idCard_field_number_long'} }) }} </td></tr>
        <tr><td style="text-align: center;"><label>Bio</label></td><td>{{ form_label(form.appearance)}}</td></tr>
        <tr><td style="text-align: center;"><i class="icofont icofont-notepad btn" style="font-size: 20px;" id="bioButton"></i></td><td>{{ form_widget(form.appearance, { 'attr': {'class': 'idCard_field_number'} }) }}<i class="icofont icofont-info-square"></i></td></tr>
          </table>
        </div>
      </div>
      <div class="box modal" id="appearanceDescText">
        <div class="box-top"><i class="icofont icofont-ui-close btn"></i></div>
        {{ form_widget(form.appearanceDesc)}}
      </div>
      <div class="box" id="mainAttributes">
        <div class="box-top"><i class="icofont icofont-ui-close btn"></i></div>
        <table>
        <tr><td>{{ form_label(form.strength)}}</td><td>{{ form_widget(form.strength, { 'attr': {'class': 'mainAttributes_field'} }) }}</td><td><span class="relativeMod" id="strengthRelative">0</span></td><td></td>
            <td>{{ form_label(form.hitPoints)}}</td><td>{{ form_widget(form.hitPoints, { 'attr': {'class': 'mainAttributes_field_generated'} }) }}</td><td><span class="relativeMod" id="hitPointsRelative">0</span></td></tr>
        <tr><td>{{ form_label(form.dexterity)}}</td><td>{{ form_widget(form.dexterity, { 'attr': {'class': 'mainAttributes_field'} }) }}</td><td><span class="relativeMod" id="dexterityRelative">0</span></td><td></td>
          <td>{{ form_label(form.will)}}</td><td>{{ form_widget(form.will, { 'attr': {'class': 'mainAttributes_field_generated'} }) }}</td><td><span class="relativeMod" id="willRelative">0</span></td></tr>
        <tr><td>{{ form_label(form.intelligence)}}</td><td>{{ form_widget(form.intelligence, { 'attr': {'class': 'mainAttributes_field'} }) }}</td><td><span class="relativeMod" id="intelligenceRelative">0</span></td><td></td>
          <td>{{ form_label(form.perception)}}</td><td>{{ form_widget(form.perception, { 'attr': {'class': 'mainAttributes_field_generated'} }) }}</td><td><span class="relativeMod" id="perceptionRelative">0</span></td></tr>
        <tr><td>{{ form_label(form.health)}}</td><td>{{ form_widget(form.health, { 'attr': {'class': 'mainAttributes_field'} }) }}</td><td><span class="relativeMod" id="healthRelative">0</span></td><td></td>
          <td>{{ form_label(form.fatiguePoints)}}</td><td>{{ form_widget(form.fatiguePoints, { 'attr': {'class': 'mainAttributes_field_generated'} }) }}</td><td><span class="relativeMod" id="fatiguePointsRelative">0</span></td></tr>
          <tr class="character-status"><td colspan="2">{{ form_widget(form.hitPointsCurrent, { 'attr': {'class': 'mainAttributes_field'} }) }} <i class="icofont icofont-medical-sign-alt" style="font-size: 15px;"></i></td><td colspan="3">{{ form_widget(form.fatiguePointsCurrent, { 'attr': {'class': 'mainAttributes_field'} }) }} <i class="icofont icofont-thinder-light" style="font-size: 15px;"></i></td><td colspan="2">{{ form_widget(form.money, { 'attr': {'class': 'mainAttributes_field'} }) }}$ <i class="icofont icofont-money-bag" style="font-size: 15px;"></i></td></tr>

      </table>
      </div>
      <div class="box" id="secondaryAttributes">
        <div class="box-top"><i class="icofont icofont-ui-close btn"></i></div>
        <div class="box-scrollable">
          <table>
            <tr><td>{{ form_label(form.encumbranceLevel)}}</td><td>{{ form_widget(form.encumbranceLevel, { 'attr': {'class': 'mainAttributes_field_generated'} }) }}</td><td id="encumbranceLevelLabel"></td></tr>
            <tr><td>{{ form_label(form.basicLift)}}</td><td>{{ form_widget(form.basicLift, { 'attr': {'class': 'mainAttributes_field_generated'} }) }}</td><td>lbs</td></tr>
            <tr><td>{{ form_label(form.basicSpeed)}}<sub style="display: block;text-align: right;bottom: 0;color: #c5baaf;font-size: xx-small;">(reaction)</sub></td><td>{{ form_widget(form.basicSpeed, { 'attr': {'class': 'mainAttributes_field_generated'} }) }}</td><td></td></tr>
            <tr><td>{{ form_label(form.basicMove)}}</td><td>{{ form_widget(form.basicMove, { 'attr': {'class': 'mainAttributes_field_generated'} }) }}</td><td>yd/s</td></tr>
            <tr><td>{{ form_label(form.hiking)}}</td><td>{{ form_widget(form.hiking, { 'attr': {'class': 'mainAttributes_field_generated'} }) }}</td><td>mil</td></tr>
            <tr><td><label>Reaction Modifier</label></td><td><span id="reactionModifierRelative" class="mainAttributes_field_generated">0</span></td><td></td></tr>
            <tr><td><label>Size Modifier</label></td><td><span id="sizeModifierRelative" class="mainAttributes_field_generated">0</span></td><td></td></tr>
          </table>
        </div>
      </div>
      <div class="box" id="resistanceAttributes">
        <div class="box-top"><i class="icofont icofont-ui-close btn"></i></div>
        <div id="headResistance">
          {{ form_widget(form.damageResistanceHead, { 'attr': {'class': 'mainAttributes_field'} }) }}
        {#{{ form_widget(form.energyResistanceHead, { 'attr': {'class': 'mainAttributes_field'} }) }}
          {{ form_widget(form.radiationResistanceHead, { 'attr': {'class': 'mainAttributes_field'} }) }}#}
        </div>
        <div id="faceResistance">
          <label>face</label>
          {{ form_widget(form.damageResistanceFace, { 'attr': {'class': 'mainAttributes_field'} }) }}
          {#{{ form_widget(form.energyResistanceFace, { 'attr': {'class': 'mainAttributes_field'} }) }}
          {{ form_widget(form.radiationResistanceFace, { 'attr': {'class': 'mainAttributes_field'} }) }}#}
        </div>
        <div id="eyesResistance">
          <label>eyes</label>
          {{ form_widget(form.damageResistanceEyes, { 'attr': {'class': 'mainAttributes_field'} }) }}
          {#{{ form_widget(form.energyResistanceEyes, { 'attr': {'class': 'mainAttributes_field'} }) }}
          {{ form_widget(form.radiationResistanceEyes, { 'attr': {'class': 'mainAttributes_field'} }) }}#}
        </div>
        <div id="chestResistance">
          {{ form_widget(form.damageResistanceBody, { 'attr': {'class': 'mainAttributes_field'} }) }}
          {#{{ form_widget(form.energyResistanceBody, { 'attr': {'class': 'mainAttributes_field'} }) }}
          {{ form_widget(form.radiationResistanceBody, { 'attr': {'class': 'mainAttributes_field'} }) }}#}
        </div>
        <div id="legLResistance">
          {{ form_widget(form.damageResistanceLeftLeg, { 'attr': {'class': 'mainAttributes_field'} }) }}
          {#{{ form_widget(form.energyResistanceLeftLeg, { 'attr': {'class': 'mainAttributes_field'} }) }}
          {{ form_widget(form.radiationResistanceLeftLeg, { 'attr': {'class': 'mainAttributes_field'} }) }}#}
        </div>
        <div id="legRResistance">
          {{ form_widget(form.damageResistanceRightLeg, { 'attr': {'class': 'mainAttributes_field'} }) }}
          {#{{ form_widget(form.energyResistanceRightLeg, { 'attr': {'class': 'mainAttributes_field'} }) }}
          {{ form_widget(form.radiationResistanceRightLeg, { 'attr': {'class': 'mainAttributes_field'} }) }}#}
        </div>
        <div id="armLResistance">
          {{ form_widget(form.damageResistanceLeftArm, { 'attr': {'class': 'mainAttributes_field'} }) }}
          {#{{ form_widget(form.energyResistanceLeftArm, { 'attr': {'class': 'mainAttributes_field'} }) }}
          {{ form_widget(form.radiationResistanceLeftArm, { 'attr': {'class': 'mainAttributes_field'} }) }}#}
        </div>
        <div id="armRResistance">
          {{ form_widget(form.damageResistanceRightArm, { 'attr': {'class': 'mainAttributes_field'} }) }}
          {#{{ form_widget(form.energyResistanceRightArm, { 'attr': {'class': 'mainAttributes_field'} }) }}
          {{ form_widget(form.radiationResistanceRightArm, { 'attr': {'class': 'mainAttributes_field'} }) }}#}
        </div>

      </div>

      <div class="box" id="inventory">
          <div class="box-top"><i class="icofont icofont-ui-close btn"></i></div>
          <div class="tabbar">
            <a class="btn tab" id="tabToggleItems" title="Items"><i class="icofont icofont-box"></i></a>
            <a class="btn tab" id="tabToggleFirearms" title="Firearms"><i class="icofont icofont-pistol"></i></a>
            <a class="btn tab" id="tabToggleMeelees" title="Melees"><i class="icofont icofont-hand-power" ></i></a>
            <a class="btn tab" id="tabToggleWearables" title="Wearables"><i class="icofont icofont-jersey"></i></a>
            <a class="btn tab" id="tabToggleInventoryAll" title="All"><i class="icofont icofont-infinite"></i></a>
          </div>
          <div  class="box-scrollable">
        <div class="tabScreen" id="tabItems">
            <span class="heading">ITEMS <i class="icofont icofont-measure"></i> <span id="itemInventoryWeight"></span> lb</span>
          <div>
            {% for item in itemInventory %}
            {% if item.id is defined %}
              <div class="inventoryItem" data-item-id="{{item.id}}" data-weight="{{item.weight}}" data-count="{{item.count}}"><span>{{item.count}}x</span><span>{{item.name}}</span><span class="btn remove-from-inventory" title="Remove"><i class="icofont icofont-close"></i></span></div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="tabScreen" id="tabFirearms">
          <span class="heading">FIREARMS <i class="icofont icofont-measure"></i> <span id="firearmInventoryWeight"></span> lb</span>

          <div>
            {% for item in firearmInventory %}
            {% if item.id is defined %}
              <div class="inventoryFirearm" data-firearm-id="{{item.id}}" data-weight="{{item.weight}}" data-count="{{item.count}}"><span>{{item.count}}x</span><span>{{item.name}}</span><span class="btn equip" title="Equip">E</span><span class="btn remove-from-inventory" title="Remove"><i class="icofont icofont-close"></i></span></div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="tabScreen" id="tabMeelees">
          <span class="heading">MEELEES  <i class="icofont icofont-measure"></i> <span id="meeleeInventoryWeight"></span> lb</span>

          <div>
            {% for item in meeleeInventory %}
            {% if item.id is defined %}
              <div class="inventoryMeelee" data-meelee-id="{{item.id}}" data-weight="{{item.weight}}" data-count="{{item.count}}"><span>{{item.count}}x</span><span>{{item.name}}</span><span class="btn equip" title="Equip">E</span><span class="btn remove-from-inventory" title="Remove"><i class="icofont icofont-close"></i></span></div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="tabScreen" id="tabWearables">
          <span class="heading">WEARABLES  <i class="icofont icofont-measure"></i> <span id="wearableInventoryWeight"></span> lb</span>

          <div>
            {% for item in wearableInventory %}
            {% if item.id is defined %}
              <div class="inventoryWearable" data-wearable-id="{{item.id}}" data-weight="{{item.weight}}" data-count="{{item.count}}"></span><span>{{item.count}}x</span><span>{{item.name}}</span><span class="btn equip" title="Equip">E</span><span class="btn remove-from-inventory" title="Remove"><i class="icofont icofont-close"></i></span></div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      </div>

      <div class="box" id="equip">
        <div class="box-top"><i class="icofont icofont-ui-close btn"></i></div>
        <label>Weapon:</label>
      <div id="equipedWeapon">

      </div>
      <label>Wearable:</label>
      <div id="equipedWearable">

      </div>
      <table>
      </table>
      </div>

      <div class="box" id="neco">
        <div class="box-top"><i class="icofont icofont-ui-close btn"></i></div>
        <div class="tabbar">
          <a class="btn tab" id="tabToggleQuirks" title="Quirks"><i class="icofont icofont-dna"></i></a>
          <a class="btn tab" id="tabToggleSkills" title="Skills"><i class="icofont icofont-brainstorming"></i></a>
          <a class="btn tab" id="tabToggleSkillsAll" title="All"><i class="icofont icofont-infinite"></i></a>
        </div>
          <div  class="box-scrollable">
            <div class="tabScreen" id="tabSkills">
              <span>Skills</span>
              {% if effects.buyable is defined %}
              {% for effect in effects.buyable %}
               {% if effect.class == 'skill' %}
                  <div class="skillItem">

                    <i class="icofont icofont-info-square" title="{{effect.description}}"></i>
                    <label>{{effect.name}}</label>
                    <div>

                      <span class="skillItemModifier">{#{effect.modifier}}{% if effect.modifier >= 0 %}+{% endif %}{{effect.modifier}#}</span>
                      <span>{{effect.level}} lvl</span>
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
            </div>

            <div class="tabScreen" id="tabQuirks">
              <span>Quirks</span>
              {% if effects.buyable is defined %}
               {% for effect in effects.buyable %}
                {% if effect.class == 'quirk' %}
                <div class="skillItem">

                  <i class="icofont icofont-info-square" title="{{effect.description}}"></i>
                  <label>{{effect.name}}</label>
                  <div>


                    <span class="skillItemModifier"></span>
                    <span>{{effect.level}} lvl</span>
                  </div>
                </div>
                {% endif %}
               {% endfor %}
               {% endif %}
            </div>
          </div>
      </div>
      </div>
      <div class="box effectsAll">
        {% if effects.buyable is defined %}
        {% for effect in effects.buyable %}
         {% if effect.class == 'quirk' %}
           <div>
             {% for i,v in quirks %}
               {% if v.id == effect.id %}

                 <input type="text" data-level="{{effect.level}}" value="{{v.effect}}">

               {% endif %}
             {% endfor %}
           </div>
         {% endif %}
        {% endfor %}
        {% endif %}
      </div>
<div class="box" id="damageAttributes">
  <div class="box-top"><i class="icofont icofont-ui-close btn"></i></div>
  <table>
    <tr><td>{{ form_label(form.damageThrust)}}</td><td></td><td>{{ form_label(form.damageSwing,null, { 'label_attr': {'class': 'right'} })}}</td></tr>
    <tr><td>{{ form_widget(form.damageThrust, { 'attr': {'class': 'mainAttributes_field_generated mainAttributes_field_long'} }) }}</td><td></td><td>{{ form_widget(form.damageSwing, { 'attr': {'class': 'mainAttributes_field_generated mainAttributes_field_long right'} }) }}</td></tr>
    <tr><td class="column-center">{{ form_label(form.parry)}}</td><td class="column-center">{{ form_label(form.dodge)}}</td><td class="column-center">{{ form_label(form.block)}}</td></tr>
    <tr>
      <td class="column-center">{{ form_widget(form.parry, { 'attr': {'class': 'mainAttributes_field_generated'} }) }}</td>
      <td class="column-center">{{ form_widget(form.dodge, { 'attr': {'class': 'mainAttributes_field_generated'} }) }}</td>
      <td class="column-center">{{ form_widget(form.block, { 'attr': {'class': 'mainAttributes_field_generated'} }) }}</td>
    </tr>

  </table>
</div>
      <div class="box">
        <table>
          <tr><td style="background-color:#EBCFB2">.</td><td style="background-color:#C5BAAF">.</td></tr>
          <tr><td style="background-color:#CAD2C5">.</td><td style="background-color:#8CC084">.</td></tr>
            <tr><td style="background-color:lightgrey">.</td><td style="background-color:grey">.</td></tr>
          <tr><td style="background-color:#7AC74F">.</td><td style="background-color:#FFBA49">.</td><td style="background-color:#E84855">.</td></tr>
        </table>
        - Config saving<br>
        - Full screen detail box<br>
        - Better box tops<br>
        - Toolbars positioning<br>
        - Command console<br>
        - Divide GM x Player sections<br>
      </div>

      <div id="hiddenUpload">{{ form_widget(form.imageFile) }}{{ form_widget(form.save) }}</div>
</section>
      {{ form_end(form) }}
    </div>
  {% embed "default/_characterSkillShop.html.twig" %}
  {% endembed %}
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="{{asset('bundles/app/js/scripts/characterTables.js')}}"></script>
<script src="{{asset('bundles/app/js/scripts/characterFunctions.js')}}"></script>
<script src="{{asset('bundles/app/js/scripts/characterOnLoad.js')}}"></script>

{% endblock %}
