{% extends 'base.html.twig' %}

{% block body %}
    <section>
      <h1>Factions <a href="{{path('faction',{'id':0})}}" title="Add new" class="btn"><i class="icofont icofont-ui-add btn-bg"></i></a></h1>
      <table class="pure-table pure-table-horizontal">
        <tr><th>Name</th><th>Description</th><th>Tools</th></tr>
      {% for faction in factions %}

        <tr><td>{{faction.name}}</td><td>{{faction.description}}</td><td><a href="faction/{{faction.id}}"><i class="icofont icofont-pencil-alt-1 btn"></i></a></td></tr>

      {% endfor %}
    </table>
  </section>
{% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}
