{% extends 'base.html.twig' %}

{% block body %}
    <section>
      <h1>Firearms <a href="{{path('firearm',{'id':0})}}" title="Add new" class="btn"><i class="icofont icofont-ui-add btn-bg"></i></a></h1>
      <table class="pure-table pure-table-horizontal">
        <tr><th>Name</th><th>Damage</th><th>Damage Type</th><th>Accuracy</th><th>Range Min</th><th>Range Max</th><th>Weight</th><th>Rate Of Fire</th><th>Shots</th><th>Required Strenth</th><th>Bulk</th><th>Recoil</th><th>Cost</th><th>Ammo</th><th>Category</th><th>Technology Level</th><th>Tools</th></tr>
      {% for firearm in firearms %}

        <tr><td>{{firearm.name}}</td><td>{{firearm.damage}}</td><td>{{firearm.damageType}}</td><td>{{firearm.accuracy}}</td><td>{{firearm.rangeMin}}</td><td>{{firearm.rangeMax}}</td><td>{{firearm.weight}}</td><td>{{firearm.rateOfFire}}</td><td>{{firearm.shots}}</td><td>{{firearm.requiredStrength}}</td><td>{{firearm.bulk}}</td><td>{{firearm.recoil}}</td><td>{{firearm.cost}}</td><td>{{firearm.ammo}}</td>
          <td>{{firearm.category}}</td><td>{{firearm.technologyLevel}}</td><td><a href="firearm/{{firearm.id}}"><i class="icofont icofont-pencil-alt-1 btn"></i></a></td></tr>

      {% endfor %}
    </table>
  </section>
{% endblock %}

{% block javascripts %}
{{parent()}}
{% endblock %}
