{% extends 'base.html.twig' %}

{% block body %}
<section class="index">
  <h1 class="linear-wipe">GM : APP</h1>
  <h2>Choose world</h2>
  <select id="world">
    {% for world in worlds %}
      <option value="{{world.id}}">{{world.name}}</option>
    {% endfor %}
  </select>
  <div id="accessTypeBox">
    <div>
      <h2>MASTER</h2>
      <a class="btn" id="master-enter" href="1/characters">ENTER</a>
    </div>
    <div>
      <h2>PLAYER</h2>
    </div>
  </div>
</section>
{% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block javascripts %}
{{parent()}}
<script>
$('#world').change(function(){
  $('#master-enter').attr('href',$(this).val()+'/characters');
});
</script>
{% endblock %}
