{% extends 'base.html.twig' %}

{% block body %}
    <section>
      <h1>Items <a href="{{path('item',{'id':0})}}" title="Add new" class="btn"><i class="icofont icofont-ui-add btn-bg"></i></a></h1>
      <table class="pure-table pure-table-horizontal">
        <tr><th>Name</th><th>Description</th><th>Weight</th><th>Cost</th><th>Type</th><th>Tools</th></tr>
      {% for item in items %}

        <tr><td>{{item.name}}</td><td>{{item.description}}</td><td>{{item.weight}}</td><td>{{item.cost}}</td><td>{{item.type}}</td><td><a href="item/{{item.id}}"><i class="icofont icofont-pencil-alt-1 btn"></i></a></td></tr>

      {% endfor %}
    </table>
  </section>
{% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}
