{% extends 'base.html.twig' %}

{% block body %}
    <section>
      <h1>Meelee weapons <a href="{{path('meelee',{'id':0})}}" title="Add new" class="btn"><i class="icofont icofont-ui-add btn-bg"></i></a></h1>
      <table class="pure-table pure-table-horizontal">
        <tr><th>Name</th><th>Damage Thr</th><th>Reach Thr</th><th>Damage Sw</th><th>Reach Sw</th><th>Parry</th><th>Cost</th><th>Weight</th><th>Required Strength</th><th>Notes</th><th>TL</th><th>Category</th><th>Tools</th></tr>
      {% for meelee in meelees %}

        <tr><td>{{meelee.name}}</td><td>{{meelee.thrustDamage}}</td><td>{{meelee.thrustReach}}</td><td>{{meelee.swingDamage}}</td><td>{{meelee.swingReach}}</td><td>{{meelee.parry}}</td><td>{{meelee.cost}}</td><td>{{meelee.weight}}</td><td>{{meelee.strength}}</td><td>{{meelee.notes}}</td><td>{{meelee.technologyLevel}}</td><td>{{meelee.category}}</td><td><a href="meelee/{{meelee.id}}"><i class="icofont icofont-pencil-alt-1 btn"></i></a></td></tr>

      {% endfor %}
    </table>
  </section>
{% endblock %}

{% block javascripts %}
{{parent()}}
{% endblock %}
