{% extends 'base.html.twig' %}

{% block body %}
    <section>
      <h1>Quirks <a href="{{path('quirk',{'id':0})}}" title="Add new" class="btn"><i class="icofont icofont-ui-add btn-bg"></i></a></h1>
      <table class="pure-table pure-table-horizontal">
        <tr><th>Name</th><th>Cost</th><th>Max Level</th><th>Description</th><th>Type</th><th>Category</th><th>Note</th><th>Tools</th></tr>
      {% for quirk in quirks %}

        <tr><td>{{quirk.name}}</td><td>{{quirk.cost}}</td><td>{{quirk.maxLevel}}</td><td>{{quirk.description}}</td><td>{{quirk.type}}</td><td>{{quirk.category}}</td><td>{{quirk.note}}</td><td><a href="quirk/{{quirk.id}}"><i class="icofont icofont-pencil-alt-1 btn"></i></a></td></tr>

      {% endfor %}
    </table>
  </section>
{% endblock %}

{% block javascripts %}
{{parent()}}
{% endblock %}
