{% extends 'base.html.twig' %}
{% block stylesheets %}
{{parent()}}
{% endblock %}

{% block body %}
    <section>
      <div id="rollsTop">
      <h1>Rolls</h1>
      <div id="rollDesk">
        <div id="rollResult" class="numbersToDices">666</div>
        <div id="rollResultSum">36</div>
      </div>
      <div id="rollsTopPhoto"></div>
      <select id="rollCharacter">
        <option>Choose Character</option>
        {% for character in characters %}
          <option value="{{character.id}}">{{character.name}}</option>
        {% endfor %}
      </select>
      </div>
      <div id="rollsScrollable" class="scrollable">
        <h2>Success roll:</h2>
        <div>
          <table>
          <tr><td>Stat/Skill<br>|</td><td>Basic skill<br>|</td><td>Modifiers<br>|</td><td>Effective skill<br>|</td><td>Roll<br>|</td><td>Result<br>|</td><td>Log<br>|</td></tr>
          <tr>
            <td>
              <select id="successRollAgainst">
                <option>Choose Stat/Skill</option>
                <optgroup label="Skills">
                </optgroup>
                <optgroup label="Attributes">
                </optgroup>
              </select>
            </td>
            <td>
              <input id="successRollAgainstBasic" type="number" class="mainAttributes_field_modifier" value="0">
            </td>
            <td>
              <input id="successRollAgainstModifier" type="number" class="mainAttributes_field_modifier" value="0">
            </td>
            <td>
              <input id="successRollAgainstSum" type="number" class="mainAttributes_field_modifier" value="0">
            </td>
            <td>
              <span class="rollInput">
                <input id="successRollSum" type="number" class="mainAttributes_field_modifier">
                <i class="icofont icofont-dice-alt btn" title="Roll"></i>
              </span>
            </td>
            <td>
              <span id="successRollResult"></span>
            </td>
            <td>
              <i class="icofont icofont-files btn" title="Log roll" id="logSuccess"></i>
            </td>
          </tr>
      </table>
      </div>
        <h2>Reaction roll:</h2>
        <div>
          <table>
          <tr><td>Reaction Mod.<br>|</td><td>Roll<br>|</td><td>Total<br>|</td><td>Result<br>|</td></tr>
          <tr>
            <td>
              <input id="reactionRollModifier" type="number" class="mainAttributes_field_modifier" value="0">
            </td>
            <td>
              <span class="rollInput">
                <input id="reactionRollSum" type="number" class="mainAttributes_field_modifier">
                <i class="icofont icofont-dice-alt btn" title="Roll"></i>
              </span>
            </td>
            <td>
              <input id="reactionRollTotal" type="number" class="mainAttributes_field_modifier">
            </td>
            <td>
              <span id="reactionRollResult"></span>
            </td>
          </table>
        </div>
        <h2>Attack Roll:</h2>
        <div>
          <table>
          <tr><td>Target Character<br>|</td><td>Weapon<br>|</td><td>Roll<br>|</td></tr>
          <tr>
            <td>
              <select id="attackRollCharacterAgainst">
                <option>Choose Character</option>
                {% for character in characters %}
                  <option value="{{character.id}}">{{character.name}}</option>
                {% endfor %}
              </select>
            </td>
            <td>
              <select id="attackRollWeapon">
                <option>Choose Weapon</option>
                <optgroup label="Meelee">
                </optgroup>
                <optgroup label="Firearm">
                </optgroup>
              </select>
            </td>
            <td>
              <span class="rollInput">
                <input id="attackRollSum" type="number" class="mainAttributes_field_modifier">
                <i class="icofont icofont-dice-alt btn" title="Roll"></i>
              </span>
            </td>
          </tr>
        </table>
          <div id="attackRollRanged" style="display:none">
          <select id="attackRollRof">
            <option value="1">Single Shot</option>
          </select>
          </div>
          <select id="attackRollBodyPartModifier">
            <optgroup label="Humanoid">
            </optgroup>
          </select>
        </div>
        <h2>Damage Roll:</h2>
        <div>
          <table>
          <tr><td>Target Character<br>|</td><td>Weapon<br>|</td><td>Damage multiplier<br>|</td><td>Roll<br>|</td></tr>
          <tr>
            <td>
              <select id="damageRollCharacterAgainst">
                <option>Choose Character</option>
                {% for character in characters %}
                  <option value="{{character.id}}">{{character.name}}</option>
                {% endfor %}
              </select>
            </td>
            <td>
              <select id="damageRollWeapon">
                <option>Choose Weapon</option>
                <optgroup label="Meelee">
                </optgroup>
                <optgroup label="Firearm">
                </optgroup>
              </select>
            </td>
            <td>
              <select id="damageRollTotalDamageMultiplier">
              </select>
            </td>
            <td>
              <span class="rollInput">
                <input id="damageRollSum" type="number" class="mainAttributes_field_modifier">
                <i class="icofont icofont-dice-alt btn" title="Roll"></i>
              </span>
            </td>
          </table>
        </div>

      </div>
      <div class="pop-up box box-scrollable" id="logForm">
        <div class="box-top" style="display: block;"><i class="icofont icofont-ui-close btn"></i></div>
        {{ form_start(form,{'attr':{'class':'basicForm'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
      </div>
    </section>

{% endblock %}

{% block javascripts %}
{{parent()}}
<script src="{{asset('bundles/app/js/scripts/characterTables.js')}}"></script>
<script src="{{asset('bundles/app/js/scripts/logsFunctions.js')}}"></script>
<script src="{{asset('bundles/app/js/scripts/rollsFunctions.js')}}"></script>
<script>

$(function onLoadAndListeners(){
  $( "#log_type" ).autocomplete({
      source: ["successRoll","historical"]
  });
  updateCommonSelects();
  $(document).on('change','#rollCharacter',function(){
    var id=$(this).val();
    updateCharactersPhoto(id);
    updateCharacterSuccessRollsSelect(id);
    updateCharacterReactionRollModifier(id);
    updateCharacterDamageRollsSelect(id);
    updateCharacterAttackRollsSelect(id);

  });

  $(document).on('change','#successRollAgainst',function(){
    $('#successRollAgainstBasic').val($(this).val());
    $('#successRollAgainstSum').val($(this).val()-$('#successRollAgainstModifier').val());
  });
  $(document).on('change','#successRollAgainstModifier',function(){
      $('#successRollAgainstSum').val(parseInt($(this).val())+parseInt($('#successRollAgainst').val()));
  });
  $(document).on('change','#attackRollWeapon',function(){
    if($(this).find('optgroup option[value="'+$(this).val()+'"]').parent().attr('label')=='Firearm')
    {
      $('#attackRollRanged').show();
      $('#attackRollMeelee').hide();
      $('#attackRollRof').empty().append('<option value="1">Single Shot</option><option value="">Burst</option>');
    }
    else {
      $('#attackRollRanged').hide();
      $('#attackRollMeelee').show();
    }
  });
  $(document).on('change','#successRollSum',function(){
    var against=parseInt($('#successRollAgainstSum').val());
    var rolled=parseInt($(this).val());
    var success,critical,margin;
      if(rolled <= against)//success
      {
        margin=against-rolled;
        success=true;
      }
      else {//failure
        margin=rolled-success;
        success=false;
      }

      if((rolled==5&&against>=15) || (rolled==6&&against>=16) || rolled==3 || rolled==4)//critical success
      {
        success=true;
        critical=true;
      }

      if((rolled==17&&against>=15) || ((against+10) < rolled) || rolled==18)//critical failure
      {
        success=false;
        critical=true;
      }
      var result;
      if(success==true)
      {
        if(critical==true)
        {
          result='Critical Success';
        }
        else {
          result='Success';
        }

      }
      else
      {
        if(critical==true)
        {
          result='Critical Failure';
        }
        else {
          result='Failure';
        }

      }
      $('#successRollResult').html(result);

  });

  $(document).on('click','.rollInput i',function(e){
    var roll;
    var counter=0;
    var sum=0;
    var resultInput=$(this).prev();
    t = setInterval(function(){
      roll=rollTheDices(3);
      $('#rollResult').html(roll);
      counter++
      if(counter==10)
      {


        $.each(roll,function(i,v){
          sum+=v;
        });
        $('#rollResultSum').html(sum);
        resultInput.val(sum).change();
        clearInterval(t);
      }
    }, 100);

  });
  $(document).on('change','#reactionRollSum',function(){
    var reactionResult;
    var reactionSum=parseInt($(this).val())+parseInt($('#reactionRollModifier').val());
    var resultInput=$('#reactionRollResult');
    var level;
    if(reactionSum<=0)
    {
      level=0;
    }
    if(reactionSum>=1&&reactionSum<=3)
    {
      level=1;
    }
    if(reactionSum>=4&&reactionSum<=6)
    {
      level=2;
    }
    if(reactionSum>=7&&reactionSum<=9)
    {
      level=3;
    }
    if(reactionSum>=10&&reactionSum<=12)
    {
      level=4;
    }
    if(reactionSum>=13&&reactionSum<=15)
    {
      level=5;
    }
    if(reactionSum>=16&&reactionSum<=18)
    {
      level=6;
    }
    if(reactionSum>19)
    {
      level=7;
    }
    $.each(reactionLevelTable,function(i,v){
      if(level==v.level)
      {
        resultInput.html(v.name+'  '+v.description);
      }
    });

  });
  $(document).on('click','#logSuccess',function(){
    $('#logForm').show();
    $('#log_character').val($('#rollCharacter').val());
    $('#log_roll').val($('#successRollAgainst option:selected').text()+'+'+$('#successRollAgainstModifier').val()+'/'+$('#successRollSum').val());
    $('#log_rollResult').val($('#successRollResult').html());
    $('#log_type').val($('#successRollType').val());
  });
  $(document).on('click','#log_save',function(e){
    var data={
      'type':           $('#log_type').val(),
      'character':      $('#log_character').val(),
      'otherCharacter': $('#log_otherCharacter').val(),
      'world':          $('#log_world').val(),
      'location':       $('#log_location').val(),
      'skill':          $('#log_skill').val(),
      'faction':        $('#log_faction').val(),
      'roll':           $('#log_roll').val(),
      'rollResult':     $('#log_rollResult').val(),
      'date':           $('#log_date_date_year').val()+'-'+$('#log_date_date_month').val()+'-'+$('#log_date_date_day').val()+' '+$('#log_date_time_hour').val()+':'+$('#log_date_time_minute').val()+':00',
      'description':    $('#log_description').val()
    };
    data={'data':JSON.stringify(data)};
    createLogEntry(data);
    e.preventDefault();
  });
  $('i.icofont-ui-close').on('click',function closeBox(e){
    e.preventDefault();
    $(this).parent().parent().fadeOut();
  });
});


function createLogEntry(dataa)
{
    $.ajax({
              url: '{{path('log_create')}}',
              type: "POST",
              data: dataa,
              success: function(result) {
                  alert(result.result);
              }
      });
}
</script>
{% endblock %}
