{% extends 'base.html.twig' %}

{% block body %}
<section>
      <h1>Skills <a href="{{path('skill',{'id':0})}}" title="Add new" class="btn"><i class="icofont icofont-ui-add btn-bg"></i></a></h1>
      <table class="pure-table pure-table-horizontal">
        <tr><th>Name</th><th>Difficulty</th><th>Default</th><th>Description</th><th>Tools</th></tr>
      {% for skill in skills %}

        <tr><td>{{skill.name}}</td><td>{{skill.difficulty}}</td><td>{{skill.attribute ~ "/" ~ skill.defaultModifier}}</td><td>{{skill.description}}</td><td><a href="skill/{{skill.id}}"><i class="icofont icofont-pencil-alt-1 btn"></i></a></td></tr>

      {% endfor %}
    </table>
</section>
{% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}
