{% extends 'base.html.twig' %}

{% block body %}
    <section>
      <h1>Wearables <a href="{{path('wearable',{'id':0})}}" title="Add new" class="btn"><i class="icofont icofont-ui-add btn-bg"></i></a></h1>
      <table class="pure-table pure-table-horizontal">
        <tr><th>Name</th><th>Damage Res.</th><th>Energy Res.</th><th>Radiation Res.</th><th>Effect</th><th>Weight</th><th>Cost</th><th>Slots</th><th>Type</th><th>Tools</th></tr>
      {% for item in wearables %}

        <tr><td>{{item.name}}</td><td>{{item.damageResist}}</td><td>{{item.energyResist}}</td><td>{{item.radiationResist}}</td><td>{{item.effect}}</td><td>{{item.weight}}</td><td>{{item.cost}}</td><td>
          {% for slot in item.slots %}
            {{slot}}
            {% if loop.last == false %}
              ,
            {% endif %}
          {% endfor %}

        </td><td>{{item.type}}</td><td><a href="wearable/{{item.id}}"><i class="icofont icofont-pencil-alt-1 btn"></i></a></td></tr>

      {% endfor %}
    </table>
  </section>
{% endblock %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/pure-min.css" />
{% endblock %}
