@font-face {
    font-family: dicesFont;
    src: url(fonts/dicesFont.ttf);
}
@font-face {
    font-family: computer;;
    src: url(fonts/gomarice_g_type.ttf);
}
*{box-sizing: border-box;}
body{
  font-size: 15px;
  font-family: computer;
  background-color: #EBCFB2;
  background-image: url('/bundles/app/images/bgLightGrey.jpg');
  background-attachment: fixed;
  color: #EBCFB2;
}
#wrapper{}
form[name="character"]{margin-top: 20px;}
div {}
section{ padding: 30px;}
section>div{vertical-align: top;}
label{color: #C5BAAF; margin-bottom: auto !important;}
.pure-table{background-color: #424B54; background-image: url('/bundles/app/images/bg.jpg'); color: #EBCFB2;}
.pure-table th{color: #EBCFB2; background-color: grey; background-image: url('/bundles/app/images/bgLightGrey.jpg');}
input{color: black;}
input:focus{outline-color:#8CC084; }
input:hover:disabled{cursor: not-allowed;}
a{text-decoration: none; color: inherit;}

form[name="character"] input{color: #EBCFB2; }
/*#character_disadvantages label::after,#character_advantages label::after,#character_skills label::after{content: "\A";white-space: pre;}*/
#idCard { width: 355px; padding:0;}
#idCard td{padding:0; text-align: left;}
#idCard_info{width:170px; font-size: 80%; position: absolute;padding-top:13px;}
#idCard_photo,#idCard_info,#idCard,#cpBar,#mainAttributes{display:inline-block;}
#idCard_photo img{max-height: 200px; padding: 20px;}
#idCard_photo img:focus{border: none;}
#idCard_photo{position:  relative;}
#photo_upload{width: 100%; position: absolute; top: 0;left: 0; padding: 20px; display: none;}
#photo_upload_button{width: 100%; height: 160px; background-color: rgba(255,255,255,0.6); border: 1px inset lightgrey;  text-align: center; cursor: pointer; color: #424B54;}
#photo_upload_button .icofont{font-size: 60px;}
#idCard_info input{display: inline-block; border: none; border-bottom: 1px dotted #EBCFB2; padding-bottom: 0;  font-size: 13px; font-family: inherit;   color: #EBCFB2; width: 100%; background: transparent; border-radius: none;}
#idCard_info label{ color: #C5BAAF; font-size: 70%;}
#idCard_info table tr:nth-of-type(5) td{width:50%;}
.idCard_field_number{width: 20px !important; text-align: center; }

#top_panel{ width: 100%; background-color: #424B54; background-image: url('/bundles/app/images/bg.jpg'); color: #EBCFB2; position: fixed; top: 0;  padding: 5px 10px; border-bottom: 1px solid #cad2c5; z-index: 9999; }
#top_panel #nameTop{margin: auto; vertical-align: middle;}
#top_panel i{font-size: 30px;vertical-align: middle;}
.top-block{font-size: 50%;vertical-align: middle; display: inline-block; text-align: center;}
.top-block input{width: 20px; padding: 0; background: transparent; text-align: center; border: none;}
.top-block td{padding: 1px 5px; transition: all 0.2s;}
.top-block tr:first-of-type{color: #C5BAAF;}
.top-block tr:nth-of-type(2){color: #CAD2C5;}


#globalMenuShowButton{margin-right: 10px;}
#character_age{width: 80px !important;}
#character_appearanceDesc {border: 1px dotted #EBCFB2; background: transparent; height: 300px; width: 100%; color: #EBCFB2; margin: auto;}
#appereanceDescText{width: 300px;}

#resistanceAttributes{
  background-image: url("../images/pipboy-stats.png"),url('/bundles/app/images/bg.jpg');
  background-repeat: no-repeat,repeat;
  background-position: center;
  background-position-y: 35px;
  background-size: 90%;
  height: 200px;
  position: relative;
  width: 150px;
  font-size: 10px;
  text-align: center;
}
#resistanceAttributes div{position: absolute;}
#resistanceAttributes label{display: block; font-size: 6px;}
#headResistance{left: 65px;top: 9px;}
#chestResistance{top: 88px; left: 65px;}
#armRResistance{top: 110px;left: 15px;}
#armLResistance{right: 15px; top: 110px;}
#legRResistance{bottom: 15px;left: 15px;}
#legLResistance{bottom: 15px;right: 15px;}
#eyesResistance{top: 20px;left: 15px;}
#faceResistance{top: 20px;right: 15px;}

#advantages,#disadvantages{width: 250px;}
#advantages input,#disadvantages input {display: none;}
#advantages label,#disadvantages label{width: 100%; padding: 5px; border: 1px dashed grey; display: block; font-size: 11px; cursor: pointer; position: relative; padding-right: 45px;}
#advantagesAll,#disadvantagesAll{display: inline-block !important;}
#disadvantages label span:nth-of-type(2),#advantages label span:nth-of-type(2){
  text-align: center;
  padding: 5px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  right: 0px;
  background-color: #c5baaf;
  width: 28px;
  color: #000;
}
#disadvantages label i,#advantages label i{
  position: absolute;
  top: 5px;
  right: 30px;
  font-size: 15px;
}
#skills input[type="checkbox"]{display: none;}
.icofont-battery-low {color: #7AC74F/*#98CE00*/;}
.icofont-battery-half{color: #FFBA49;}
.icofont-battery-full{color: #E84855/*#D64550*/;}

.activeAdvantage{border: 2px dashed #8CC084 !important; color: #EBCFB2; background-color: rgba(140, 192, 132,0.1);}
.activeAdvantage span:nth-of-type(2){background-color: #ebcfb2 !important;}

.box{background-color: #424B54; background-image: url('/bundles/app/images/bg.jpg');border-radius: 10px; border: 1px solid #cad2c5;  margin: 10px; color: #EBCFB2; padding: 20px; display: inline-block; }
.box td{padding: 5px;}
.fullscreen-box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999999;
  margin:0;
  padding: 0;
  background-color: #424B54;
  background-image: url('/bundles/app/images/bg.jpg');
  border-radius: 10px;
  border: 1px solid #cad2c5;
  color: #EBCFB2;
  display: none;
}
.btn-bg{
  background-color: #434c55;
  border-radius: 5px;
  padding: 5px;
}
.box-scrollable{height:200px; overflow: scroll;}
.box-top{width: 100%; text-align: right; position: absolute; top:2px;right: 10px; font-size: 13px; display: none;}
.modal{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  z-index: 99999;
  top: 50px;
  display:none;}
  .scrollY{overflow-y: scroll;}
.btn{cursor: pointer; color: #CAD2C5; text-decoration: none; user-select: none;}
.btn:hover{color:#8CC084; transition: all 0.4s;}
.btnn{cursor: pointer; color: #CAD2C5;}
.btnn:hover{color:#8CC084; transition: all 0.4s;}
.btn-active{background-color: #EBCFB2; color:grey; border-radius: 10px;}
.mainAttributes_field{width: 30px; text-align: center;}
.mainAttributes_field_generated{width: 30px; text-align: center;background-color: rgba(255, 255, 255, 0.1); border: 1px dashed grey;}
.mainAttributes_field_generated.span {padding: 3px;}
.mainAttributes_field_long{width: 40px; text-align: center;}
.mainAttributes_field_modifier{width: 30px; background: transparent; border: 1px dashed orange; text-align: center;}
.mainAttributes_field{background: transparent; border:none; border-bottom: 1px dashed grey;}
#mainAttributes td{padding: 5px;}
#mainAttributes .mainAttributes_top{font-size: 80%; text-align: center; vertical-align: middle; padding: 0;}
.mainAttributes_top input{text-align: center; border: none !important;}
.right{float:right;}
#mainAttributes{ padding: 20px;}
.inline50{display: inline-block; width: 50%;}
#hiddenUpload{display: none;}
.skillItemModifier
{
  border: 1px lightgrey dashed;
  padding: 0px 5px;
  width: 58px;
  display: inline-block;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
}
select{background: none;}

#globalMenu{
  display: none;
  position: fixed;
left: 0;
top:0;
background-color: #424B54;
background-image: url('/bundles/app/images/bg.jpg');
z-index: 999999999999;
height: 100%;
border-right: 1px solid #8CC084;

}

#globalMenu a{
  display: block;
    padding: 5px 18px;
    text-decoration: none;
    border-bottom: #cad2c5 1px outset;
    margin: 0 15px;
  }
#globalMenu a:hover{
  background-color: #424B54;
  background-image: url('/bundles/app/images/bg.jpg');
  border-bottom: #8CC084 1px outset;
}
#globalMenu a:first-of-type{font-size: 25px; text-align: center;}
.menuButton{
  background-color: #424B54;
  background-image: url('/bundles/app/images/bg.jpg');
    padding: 10px;
    font-size: 30px;
    width: 60px;
    border-radius: 0px 0px 53px;
    height: 70px;
    position: fixed;
    left: -30px;
    top: -30px;
    transition: all 500ms linear;
    box-shadow: 5px 2px 20px #8CC084;
}
.menuButton:hover{
  left:0;
  top:0;

}
.menuButton:hover i{opacity: 1;}
.menuButton i{opacity: 0; transition: all 500ms linear;}
.skillItem{
  display: block;
  margin-bottom: 5px;
}
.skillItem div{
  display: inline-block;
    float: right;
}
#itemInventory .inventoryItem input,#weaponInventory .inventoryWeapon input,#wearableInventory .inventoryWearable input{
  position: absolute;
  right: 20px;
}
#itemInventory .inventoryItem,#weaponInventory .inventoryWeapon,#wearableInventory .inventoryWearable{
  margin-bottom: 5px;
  position: relative;
}
.character_portretCard img{
  width: 100%;
}
.character_portretCard{
  text-align: center;
  width: 150px;
  font-size: 10px;
  padding-bottom: 10px;
}

.numbersToDices
{
font-family: dicesFont;
font-size: 5em;
color: #424B54;
}
#rollDesk{
  text-align: center;
  border: solid #424B54 10px;
}
#rollResultSum{
  background: #424B54;
  color: #8CC084;
  padding: 5px 20px;
  font-size: 42px;
  font-weight: bold;
  width: 100%;
}
#rollResult{
  background:#8CC084;
  padding-top: 15px;
}
.rollInput input{
  width: 30px;
}
.rollInput i{
  cursor: pointer;
  user-select: none;
}
.scrollable{
  overflow-y: scroll;
}
/* SKILL SHOP */
#skillShop{
  padding: 25px;
  display: flex;
}
#skillShop_list{
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  width: 29%;
  padding: 0px 15px;
}
#skillShop_list_tabs{
}
#skillShop_list_screen{
  overflow-y: scroll;
}
#skillShop_list .tabs{
  font-size: 10px;
  border-bottom: 1px solid grey;
}
#skillShop_list .tabs li{
  display: inline-block;
  list-style-type: none;
  border: 1px solid grey;
  border-bottom: none;
  padding: 6px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#skillShop_list ul{list-style-type: none; padding: 0;}

#skillShop_list .tab-active{
  background: #424B54;
  color: #8CC084;
}
#skillShop_list .shop-item{
  width: 100%;
  padding: 5px;
  border: 1px dashed grey;
  display: block;
  font-size: 11px;
}
#skillShop_list .shop-item:hover, #skillShop_list .shop-item-active{
  border: 1px dashed #8CC084 !important;
  color: #EBCFB2;
  background-color: rgba(140, 192, 132,0.1);
}

#skillShop .middle{
  display: inline-flex;
  flex-direction: column;
  width: 40%;
  border: 1px solid;
  border-radius: 5px;
  height: 100%;
  vertical-align: top;
}
#skillShop .middle>div{
  height: 50%;
}
#skillShop_screen .screen-item{
  display: none;
  font-size: 12px;
  padding: 10px;
}
.button{
  width: 100%;
  display: block;
  font-size: larger;
  text-align: center;
  border: 1px solid;
  padding: 5px;
}
#skillShop_buy{
  color: #7AC74F;
}
#skillShop_sell{
  color: #E84855;
}
#skillShop_counter{
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
}
#skillShop_counter_top{
  width: 100%;
}
#skillShop_counter_bottom{
  width: 100%;
  position: relative;
}
.counter-items{
  width: 50%;
  overflow-y: scroll;
  padding: 5px;
}
.counter-lists{
  display: flex;
}
.skillLevelSelect{
  width: 100%;
}
#skillShop_buy>div,#skillShop_sell>div{
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.tabbar{
  display: flex;
  justify-content: space-evenly;
}
.tab i{
  font-size: 25px;
}
.tab-active{
  color: #8CC084;
}

#commanderForm{
  display: flex;
  flex-direction: column;
}
#commanderForm input{
  width: 70%;
  margin: auto;
  background-image: url(/bundles/app/images/bgLight.jpg);
  padding: 10px;
  font-size: large;
  border: none;
}
/* WORLD MAP */
#svgMap{padding:0;background-color: #424B54; background-image: url('/bundles/app/images/bg.jpg'); width:100%; height: 100vh; box-sizing: content-box;}
